# 1 - Project Description:

This project is to get to know that whether a patient, usually a newborn baby, would stay for long i.e more than 3 days or it would be discharged before the fourth day.  Generated Dataset based on multiple factors has been used to solve this classification problem.

# 2 -  Following Steps are Taken to Generate this Notebook:

## 2.1 - For Training_Dataset:
 
           imported required libraries.
           Read the train_dataset.
           Removed ID and HealthServiceArea Column, which was allowed to do so.
           Classified the LengthofStay column.
           Encoded the non-integer columns.
           Imported RandomForestClassifier and trained it.
           Measured the accuracy score.
           Imported GaussianNB and trained it.
           Measured accuracy score of GNB model.

## 2.2 - For Testing_Dataset:
    
           Read the test_dataset.
           Removed ID and HealthServiceArea Column, which was allowed to do so.
           Encoded the non-integer columns.
           Predicted LengthofStay.
           Generated csv file

# 3 - Rational Analysis:

The data set contain multiple coulmns which are directly linked with the length of stay, but two of them, ID and HealthServiceArea, were not linked with the length of stay. Therefore, these were remvoved so that model is totally based upon the true factors. As the accuracy of model is 94 percent, therefore it can also be used to get to know that whether patient would stay for long or not. Moreover, similar approach can also be applied for Covid patient after having suitable dataset.

# 4 - Critical Analysis:

Two models were used for it i.e RandomForestClassifier and GaussianNB. Classifer models are used because in output we just have to classify that whether patient would stay for long or not, therefore it was a classification problem. Moreover, accuracy of former model was more than the latter all because it was more rigorous.

# 5 - importing libraries

In [147]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 6 - Reading training dataset

In [148]:

data= pd.read_csv('train_data.csv')
data

,ID,HealthServiceArea,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
0,1,New York City,F,Other Race,Newborn,228,1,Medicaid,3700,N,2611,9227,1751,8951,45,1
1,2,New York City,M,Black/African American,Newborn,228,1,Medicaid,2900,N,3242,8966,3338,6409,34,1
2,3,New York City,M,Other Race,Newborn,220,1,Private Health Insurance,3200,N,3155,11381,4980,9323,45,1
3,4,New York City,F,Other Race,Newborn,0,1,Private Health Insurance,3300,N,3155,11381,5826,15680,59,1
4,5,New York City,F,Other Race,Newborn,228,1,Medicaid,2600,N,2611,9227,6000,14344,59,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59961,59962,Western NY,M,Black/African American,Newborn,115,1,Blue Cross/Blue Shield,3600,N,1826,4190,1551,3715,36,4
59962,59963,Western NY,M,White,Newborn,115,2,Blue Cross/Blue Shield,3300,N,1826,4190,1551,3715,55,6
59963,59964,Western NY,M,White,Newborn,115,2,Blue Cross/Blue Shield,3400,N,1826,4190,1551,3715,55,4
59964,59965,Western NY,M,White,Newborn,-1,2,Medicaid,3100,N,1826,4190,1551,3715,55,4
59965,59966,Western NY,F,White,Newborn,231,2,Blue Cross/Blue Shield,3900,N,1826,4190,1551,3715,36,4

# 7 - Dropping ID & HealthServiceArea Columns.

In [149]:

data= data.drop('ID', axis=1 ).drop('HealthServiceArea', axis=1)
data

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
0,F,Other Race,Newborn,228,1,Medicaid,3700,N,2611,9227,1751,8951,45,1
1,M,Black/African American,Newborn,228,1,Medicaid,2900,N,3242,8966,3338,6409,34,1
2,M,Other Race,Newborn,220,1,Private Health Insurance,3200,N,3155,11381,4980,9323,45,1
3,F,Other Race,Newborn,0,1,Private Health Insurance,3300,N,3155,11381,5826,15680,59,1
4,F,Other Race,Newborn,228,1,Medicaid,2600,N,2611,9227,6000,14344,59,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59961,M,Black/African American,Newborn,115,1,Blue Cross/Blue Shield,3600,N,1826,4190,1551,3715,36,4
59962,M,White,Newborn,115,2,Blue Cross/Blue Shield,3300,N,1826,4190,1551,3715,55,6
59963,M,White,Newborn,115,2,Blue Cross/Blue Shield,3400,N,1826,4190,1551,3715,55,4
59964,M,White,Newborn,-1,2,Medicaid,3100,N,1826,4190,1551,3715,55,4
59965,F,White,Newborn,231,2,Blue Cross/Blue Shield,3900,N,1826,4190,1551,3715,36,4

#  8 - Classifying the lengthofStay by Assigning 0 and 1 to the Values < 4 and >=4 Respectively.

In [150]:

LengthOfStay = []
for i in data['LengthOfStay']:
    if i < 4:
        LengthOfStay.append(0)
    else:
        LengthOfStay.append(1)

In [151]:
len(LengthOfStay), len(data['LengthOfStay'])

(59966, 59966)

In [152]:
data['LengthOfStay']= LengthOfStay

In [153]:
data

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode,LengthOfStay
0,F,Other Race,Newborn,228,1,Medicaid,3700,N,2611,9227,1751,8951,45,0
1,M,Black/African American,Newborn,228,1,Medicaid,2900,N,3242,8966,3338,6409,34,0
2,M,Other Race,Newborn,220,1,Private Health Insurance,3200,N,3155,11381,4980,9323,45,0
3,F,Other Race,Newborn,0,1,Private Health Insurance,3300,N,3155,11381,5826,15680,59,0
4,F,Other Race,Newborn,228,1,Medicaid,2600,N,2611,9227,6000,14344,59,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59961,M,Black/African American,Newborn,115,1,Blue Cross/Blue Shield,3600,N,1826,4190,1551,3715,36,1
59962,M,White,Newborn,115,2,Blue Cross/Blue Shield,3300,N,1826,4190,1551,3715,55,1
59963,M,White,Newborn,115,2,Blue Cross/Blue Shield,3400,N,1826,4190,1551,3715,55,1
59964,M,White,Newborn,-1,2,Medicaid,3100,N,1826,4190,1551,3715,55,1
59965,F,White,Newborn,231,2,Blue Cross/Blue Shield,3900,N,1826,4190,1551,3715,36,1

#  9 - Splitting Data into X and Y.

In [154]:

x_train=data.drop('LengthOfStay', axis=1)
y_train=data['LengthOfStay']

# 10 - Importing model.

In [155]:

from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

# 11 - Converting the Non-integer Columns into Integer Columns.

In [156]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

features_gender = ["Gender"]
features_Race = ['Race']
features_TypeOfAdmission = ['TypeOfAdmission']
features_PaymentTypology=['PaymentTypology']
features_EmergencyDepartmentIndicator= ['EmergencyDepartmentIndicator']

en_code = OneHotEncoder()

transformer = ColumnTransformer([("gender_tranform", en_code, features_gender),
                                 ("race_tranform", en_code, features_Race),
                                 ("TypeOfAdmission_tranform", en_code, features_TypeOfAdmission),
                                 ("PaymentTypology_tranform", en_code, features_PaymentTypology),
                                 ("EmergencyDepartmentIndicator_tranform", en_code, features_EmergencyDepartmentIndicator)
                                
                                ], remainder='passthrough')


transformed_x=transformer.fit_transform(x_train)
pd.DataFrame(transformed_x)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,228.0,1.0,3700.0,2611.0,9227.0,1751.0,8951.0,45.0
1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,228.0,1.0,2900.0,3242.0,8966.0,3338.0,6409.0,34.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,220.0,1.0,3200.0,3155.0,11381.0,4980.0,9323.0,45.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,3300.0,3155.0,11381.0,5826.0,15680.0,59.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,228.0,1.0,2600.0,2611.0,9227.0,6000.0,14344.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59961,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,115.0,1.0,3600.0,1826.0,4190.0,1551.0,3715.0,36.0
59962,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,115.0,2.0,3300.0,1826.0,4190.0,1551.0,3715.0,55.0
59963,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,115.0,2.0,3400.0,1826.0,4190.0,1551.0,3715.0,55.0
59964,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,-1.0,2.0,3100.0,1826.0,4190.0,1551.0,3715.0,55.0
59965,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,231.0,2.0,3900.0,1826.0,4190.0,1551.0,3715.0,36.0

# 12 - Fitting the Model.

In [157]:

clf.fit(transformed_x, y_train)

RandomForestClassifier()

# 13 - Finding Accuracy

In [158]:

clf.score(transformed_x, y_train)

0.948404095654204

# 14 - Importing GaussianNB column and Finding Accuracy

In [159]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(transformed_x, y_train)
gnb.score(transformed_x, y_train)

0.7648334055965047

As per the accuracy score RandomForestClassofier is far better than GaussianNB.

# 15 - Importing Test_Data

In [160]:

x_test = pd.read_csv('test_data.csv')
x_test

,ID,HealthServiceArea,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode
0,1,New York City,F,Other Race,Newborn,216,3,Medicaid,4900,N,3242,8966,2448,13196,34
1,2,New York City,F,White,Newborn,220,1,Medicaid,3100,N,2611,9227,1751,8951,45
2,3,New York City,M,Multi-racial,Newborn,115,1,Medicaid,3300,N,3155,11381,1052,11314,74
3,4,New York City,M,Other Race,Newborn,228,1,Medicaid,3300,N,2611,9227,3790,6250,45
4,5,New York City,F,Other Race,Newborn,220,2,Medicaid,3800,N,3155,11381,3032,10135,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69172,69173,Hudson Valley,M,Black/African American,Newborn,115,1,Medicaid,3500,N,3623,7197,5123,22564,49
69173,69174,Hudson Valley,M,Other Race,Newborn,0,2,Medicaid,3000,N,3623,7197,5123,22564,115
69174,69175,Hudson Valley,M,Other Race,Newborn,0,1,Medicaid,3400,N,3623,7197,5123,22564,83
69175,69176,Hudson Valley,M,Black/African American,Newborn,115,1,Medicaid,2900,N,3623,7197,5123,22564,81
69176,69177,Hudson Valley,M,White,Newborn,0,1,Private Health Insurance,3300,N,3623,7197,5123,22564,83

# 16 - Dropping ID and HealthSeriviceArea Column

In [161]:
x_test= x_test.drop('ID', axis=1 ).drop('HealthServiceArea', axis=1)
x_test

,Gender,Race,TypeOfAdmission,CCSProcedureCode,APRSeverityOfIllnessCode,PaymentTypology,BirthWeight,EmergencyDepartmentIndicator,AverageCostInCounty,AverageChargesInCounty,AverageCostInFacility,AverageChargesInFacility,AverageIncomeInZipCode
0,F,Other Race,Newborn,216,3,Medicaid,4900,N,3242,8966,2448,13196,34
1,F,White,Newborn,220,1,Medicaid,3100,N,2611,9227,1751,8951,45
2,M,Multi-racial,Newborn,115,1,Medicaid,3300,N,3155,11381,1052,11314,74
3,M,Other Race,Newborn,228,1,Medicaid,3300,N,2611,9227,3790,6250,45
4,F,Other Race,Newborn,220,2,Medicaid,3800,N,3155,11381,3032,10135,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69172,M,Black/African American,Newborn,115,1,Medicaid,3500,N,3623,7197,5123,22564,49
69173,M,Other Race,Newborn,0,2,Medicaid,3000,N,3623,7197,5123,22564,115
69174,M,Other Race,Newborn,0,1,Medicaid,3400,N,3623,7197,5123,22564,83
69175,M,Black/African American,Newborn,115,1,Medicaid,2900,N,3623,7197,5123,22564,81
69176,M,White,Newborn,0,1,Private Health Insurance,3300,N,3623,7197,5123,22564,83

In [162]:
ind2=x_test[x_test['TypeOfAdmission']== 'Trauma'].index
ind2

Int64Index([40910], dtype='int64')

In [164]:
ind1=x_test[x_test['PaymentTypology']== 'Department of Corrections'].index
ind1

Int64Index([66489, 66618, 66622, 68615, 68638, 68705, 68706, 68796, 68935,
            68984, 69001, 69093],
           dtype='int64')

In [165]:
for i in ind1:
    x_test=x_test.drop(i)

In [166]:
for i in ind2:
    x_test=x_test.drop(i)

# 17 - Encoding non-integer columns:

In [167]:


features_gender = ["Gender"]
features_Race = ['Race']
features_TypeOfAdmission = ['TypeOfAdmission']
features_PaymentTypology=['PaymentTypology']
features_EmergencyDepartmentIndicator= ['EmergencyDepartmentIndicator']

en_code = OneHotEncoder()

transformer = ColumnTransformer([("gender", en_code, features_gender),
                                 ("race", en_code, features_Race),
                                 ("TypeOfAdmission", en_code, features_TypeOfAdmission),
                                 ("PaymentTypolog", en_code, features_PaymentTypology),
                                 ("EmergencyDepartmentIndicator", en_code, features_EmergencyDepartmentIndicator)
                                
                                ], remainder='passthrough')


transformed_x_test=transformer.fit_transform(x_test)
pd.DataFrame(transformed_x_test)

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,216.0,3.0,4900.0,3242.0,8966.0,2448.0,13196.0,34.0
1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,220.0,1.0,3100.0,2611.0,9227.0,1751.0,8951.0,45.0
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,115.0,1.0,3300.0,3155.0,11381.0,1052.0,11314.0,74.0
3,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,228.0,1.0,3300.0,2611.0,9227.0,3790.0,6250.0,45.0
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,220.0,2.0,3800.0,3155.0,11381.0,3032.0,10135.0,59.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69159,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,115.0,1.0,3500.0,3623.0,7197.0,5123.0,22564.0,49.0
69160,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,2.0,3000.0,3623.0,7197.0,5123.0,22564.0,115.0
69161,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,3400.0,3623.0,7197.0,5123.0,22564.0,83.0
69162,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,115.0,1.0,2900.0,3623.0,7197.0,5123.0,22564.0,81.0
69163,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,3300.0,3623.0,7197.0,5123.0,22564.0,83.0

# 18  - Predicting Values Using RandomForestClassifier Model

In [168]:

predicting= clf.predict(transformed_x_test)
predicting

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [169]:
prediction=pd.DataFrame(predicting)

# 19 - Prducing CSV File as per the Suggessted Format.

In [170]:
prediction.to_csv("prediction.csv")